<section class="py-20 text-center">
   <div class="mx-auto max-w-7xl px-6 sm:px-8 md:px-12">
      <h2 class="text-2xl font-semibold md:text-3xl">Second Example</h2>
      <p class="mx-auto mt-3 max-w-xl text-sm">Libero suscipit repellat eaque ea. Reiciendis dicta veniam.</p>

      <!-- Grid 2 begins -->
      <div class="mt-12 grid grid-auto-fit-lg gap-8">

         <div class="grid2-item bg-orange-100">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quo numquam temporibus.</p>
            <a href="#">Know more</a>
         </div>

         <div class="grid2-item bg-cyan-100">
            <h3>Dolor Sit Amet</h3>
            <p>Obcaecati deserunt placeat cum necessitatibus, et assumenda perspiciatis, magnam tempora.</p>
            <a href="#">Know more</a>
         </div>

         <div class="grid2-item bg-purple-100">
            <h3>Adipisicing Elit</h3>
            <p>Quasi earum, voluptas cumque pariatur libero laudantium voluptatibus? Doloremque.</p>
            <a href="#">Know more</a>
         </div>

         <div class="grid2-item bg-sky-100">
            <h3>Quo Numquam</h3>
            <p>Cum amet qui vel necessitatibus in rem, maxime rerum consectetur ipsam. Lorem ipsum.</p>
            <a href="#">Know more</a>
         </div>

         <div class="grid2-item bg-red-100">
            <h3>Temporibus Nisi</h3>
            <p>Eligendi eaque adipisci dolores cupiditate nesciunt quo ad, eos obcaecati reprehenderit.</p>
            <a href="#">Know more</a>
         </div>

         <div class="grid2-item bg-green-100">
            <h3>Obcaecati Deserunt</h3>
            <p>Ad et necessitatibus rerum delectus quam minus adipisci, obcaecati earum recusandae.</p>
            <a href="#">Know more</a>
         </div>

      </div>
      <!-- Grid 2 ends -->
   </div>
</section>
